@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.signup,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-submit,
.login-submit {
  margin-bottom: 15px;
}

:focus {
  outline-style: none;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: auto;
    margin: 0 10px;
  }
}
